@import 'variables.scss';
@import 'mixins.scss';

header{
    width: 100%;
    background-color: $dark-color;

    .header-brand{
            color: $links-color;

    }

    nav{
        ul{
            li{
                list-style: none;
                a{
                @include anchor-text;
                color: $links-color;
                }
           }
        }
    }
}